tr/json resources/dx-rich.tr.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "Köprüyü düzenleme",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "Köprü ekleme",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "Santimetre",
  "OfficeStringId.Caption_UnitInches": "İnç",
  "OfficeStringId.Caption_UnitMillimeters": "Milimetre",
  "OfficeStringId.Caption_UnitPercent": "Yüzde",
  "OfficeStringId.Caption_UnitPoints": "Puan",
  "OfficeStringId.FileFilterDescription_AllFiles": "Tüm Dosyalar",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "Tüm Desteklenen Dosyalar",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Windows bit eşlem",
  "OfficeStringId.FileFilterDescription_EmfFiles": "Microsoft Gelişmiş Meta dosyası",
  "OfficeStringId.FileFilterDescription_GifFiles": "Grafik Interchage biçimi",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG Dosya Değişim Biçimi",
  "OfficeStringId.FileFilterDescription_PNGFiles": "Taşınabilir ağ grafikleri",
  "OfficeStringId.FileFilterDescription_TiffFiles": "Etiket görüntü dosya biçimi",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows Meta dosyası",
  "OfficeStringId.MenuCmd_AlignmentCenter": "Merkezi",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "Metin ortalayın.",
  "OfficeStringId.MenuCmd_AlignmentJustify": "İki Yana Yasla",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "Hem sol hem de sağ kenar boşluklarına, gerektiği gibi sözcüklerin arasına fazladan boşluk ekleyerek metni Hizala.\n\nBu sol ve sağ tarafta sayfa boyunca temiz bir görünüm oluşturur.",
  "OfficeStringId.MenuCmd_AlignmentLeft": "Metni Sola Hizala",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "Metni sola hizalamak.",
  "OfficeStringId.MenuCmd_AlignmentRight": "Metni Sağa Hizala",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "Metni sağa hizalamak.",
  "OfficeStringId.MenuCmd_ChangeFontColor": "Yazı tipi rengi",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "Metin rengini değiştirme.",
  "OfficeStringId.MenuCmd_ChangeFontName": "Yazı tipi",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "Yazı biçimini değiştirmek.",
  "OfficeStringId.MenuCmd_ChangeFontSize": "Yazı tipi boyutu",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "Yazı tipi boyutunu değiştirmek.",
  "OfficeStringId.MenuCmd_ClearUndo": "Geri almayı temizle",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "Arabellek silmeyi geri al",
  "OfficeStringId.MenuCmd_CopySelection": "Kopyala",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "Seçimi Kopyala ve Pano'ya koy.",
  "OfficeStringId.MenuCmd_CutSelection": "Kes",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "Belge seçimi kes ve Pano'ya koy.",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "Yazı tipini Daralt",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "Yazı tipi boyutunu azalt.",
  "OfficeStringId.MenuCmd_DeleteComment": "Yorum silmek",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "Yorum silmek.",
  "OfficeStringId.MenuCmd_EditComment": "Edit Comment",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Belgenin bir parçası hakkında not ekleme.",
  "OfficeStringId.MenuCmd_EditHyperlink": "... Köprü Düzenle",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "... Köprü Düzenle",
  "OfficeStringId.MenuCmd_Encrypt": "Encrypt with Password",
  "OfficeStringId.MenuCmd_EncryptDescription": "Require a password to open this workbook.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "Öne Getir",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "Öne getir",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "Seçili nesneyi bir seviye öne  getirmek veya diğer tüm nesneleri öne getir.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "Önünde bulunan nesneler tarafından gizlenen nesneyi öne getir.",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "Öne Getir",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Hiçbir bölümünün diğer nesnelerin arkasında gizlenmemesi için seçili nesneyi diğer tüm nesnelerin önüne getirin.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "Alta Gönder",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "Alta Gönder",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "Seçili nesneyi bir seviye alta gönder veya diğer tüm nesneleri alta gönder.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Send the selected object backward so that it is hidden by the objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "Arkaya Gönder",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "Seçili nesneyi diğer tüm nesnelerin arkasına gönderin.",
  "OfficeStringId.MenuCmd_Hyperlink": "Köprü",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "Web sayfası, bir resim, e-posta adresi veya bir program için bir bağlantı oluşturmak.",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "Yazı tipini Büyüt",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "Yazı tipi boyutunu büyütür.",
  "OfficeStringId.MenuCmd_InsertComment": "Yorum ekle",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "Seçimi hakkında bir açıklama eklemeniz.",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "Resim",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Bir dosyadan resim ekleyin.",
  "OfficeStringId.MenuCmd_InsertHyperlink": "Köprü...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "Yeni bir köprü ekleyin.",
  "OfficeStringId.MenuCmd_InsertSymbol": "Sembol",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insert symbols that are not on your keyboard, such as copyright symbols, trademark symbols, paragraph marks and Unicode characters.",
  "OfficeStringId.MenuCmd_LoadDocument": "Açık",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "Bir belge açın.",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "Yeni",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "Yeni bir belge oluşturun.",
  "OfficeStringId.MenuCmd_OpenHyperlink": "Köprü aç",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "Köprü aç",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "Orta\nİlk: {1,10} son: {3,10}\nSol: {0,10} sağ: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "dar\nİlk: {1,10} son: {3,10}\nSol: {0,10} sağ: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "Normal\nİlk: {1,10} son: {3,10}\nSol: {0,10} sağ: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "geniş\nİlk: {1,10} son: {3,10}\nSol: {0,10} sağ: {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "Oryantasyon",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "Sayfaları dikey ve yatay düzenler arasında geçiş yapma.",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "Yatay",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "Dikey",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "Yapıştır",
  "OfficeStringId.MenuCmd_PasteDescription": "Pano içeriğini yapıştırın.",
  "OfficeStringId.MenuCmd_Print": "& Yazdır",
  "OfficeStringId.MenuCmd_PrintDescription": "Yazıcıyı, kopya sayısını ve diğer yazdırma seçeneklerini yazdırmadan önce seçin.",
  "OfficeStringId.MenuCmd_PrintPreview": "Baskı öncesi & Görüntüle",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "Yazdırmadan önce sayfaların önizlemesini.",
  "OfficeStringId.MenuCmd_QuickPrint": "& Hızlı Yazdır",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "Belgeyi değişiklik yapmadan doğrudan varsayılan yazıcıya gönderin.",
  "OfficeStringId.MenuCmd_Redo": "Yinele",
  "OfficeStringId.MenuCmd_RedoDescription": "Yinele",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "Köprüyü kaldırma",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "Köprüyü kaldırma",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "Köprü kaldırma",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "Köprü kaldırma",
  "OfficeStringId.MenuCmd_SaveDocument": "Kaydet",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "Farklı Kaydet",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "Bir dosya biçimi seçin ve belgeyi yeni bir konuma kaydetmek için farklı Kaydet iletişim kutusunu açın.",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "Belgeyi kaydedin.",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "Özel Yapıştır",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "Özel Yapıştır iletişim kutusunu görüntüleyin.",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Customize Status Bar",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "Yakınlaştır",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Zoom Slider",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Zoom level. Click to open the Zoom dialog box.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "Yakınlaştır",
  "OfficeStringId.MenuCmd_ToggleFontBold": "Kalın",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "Seçili metni kalın yapın.",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "Altı çift çizili",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Altı çift çizili",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "İtalik",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "Seçili metni italik yapın.",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "Üstü çizili",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "Seçili metnin ortasından bir çizgi çizin.",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "Altını çiz",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "Seçili metnin altını çizin.",
  "OfficeStringId.MenuCmd_Undo": "Geri Al",
  "OfficeStringId.MenuCmd_UndoDescription": "Geri Al",
  "OfficeStringId.MenuCmd_Zoom100Percent": "% 100",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "Belgeyi normal boyutun % 100 yakınlaştırın.",
  "OfficeStringId.MenuCmd_ZoomIn": "Yakınlaştır",
  "OfficeStringId.MenuCmd_ZoomInDescription": "Yakınlaştır",
  "OfficeStringId.MenuCmd_ZoomOut": "Uzaklaştır",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "Uzaklaştır",
  "OfficeStringId.Msg_InternalError": "Dahili Hata!",
  "OfficeStringId.Msg_InvalidBeginInit": "Hata! Başlangıç ortamında başlangıç güncellenmek istendi.",
  "OfficeStringId.Msg_InvalidBeginUpdate": "Hata! Başlangıç güncellemede başlangıç ortamı istendi.",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "Hata! Kaynak ve hedef dosya formatları birbirinden farklı.",
  "OfficeStringId.Msg_InvalidEndInit": "Hata! İşlem yapılıyor...",
  "OfficeStringId.Msg_InvalidEndUpdate": "Hata! İşlem yapılıyor...",
  "OfficeStringId.Msg_InvalidFontSize": "Sayı, {0} ile {1} arasında olmalıdır.",
  "OfficeStringId.Msg_InvalidNumber": "Bu geçerli bir sayı değil.",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Value must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "Bir veri kaynağı adres mektup birleştirme işlemi sırasında silinemez.",
  "OfficeStringId.Msg_IsNotValid": "'{1}' için geçersiz bir Değer '{0}'",
  "OfficeStringId.Msg_Loading": "Yükleniyor...",
  "OfficeStringId.Msg_MagicNumberNotFound": "Açmaya çalıştığınız dosya biçimi geçersiz.",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Unsupported format or corrupted file.",
  "OfficeStringId.UnitAbbreviation_Centimeter": "cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": "mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": "pc",
  "OfficeStringId.UnitAbbreviation_Point": "pt",
  "XtraRichEditStringId.BorderLineStyleNone": "Hiçbiri",
  "XtraRichEditStringId.Caption_AlignmentCenter": "Ortala",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "Yasla",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_AlignmentLeft": "Sola Hizala",
  "XtraRichEditStringId.Caption_AlignmentRight": "Sağa Hizala",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Hiçbir şey",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Boşluk",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Tab character",
  "XtraRichEditStringId.Caption_Bytes": "bytes",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "Denklem",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "Figure",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "Tablo",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "Normal",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "Normal",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "Pano",
  "XtraRichEditStringId.Caption_ColorAutomatic": "Otomatik",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "Yorumlar",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "Alt sol hücre",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "Alt Sağ Hücre",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "Hatta sütun bantları",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "Hatta satır bantları",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "İlk sütun",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "Başlık satırı",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "Son sütun",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "Toplam satırı",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "Tek şeritli sütunlar",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "Tek Şeritli satırlar",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "Sol üst hücre",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "Sağ üst hücre",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "Tüm tablo",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "Geçerli Doküman",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "Örnek Metin",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Checked by",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Client",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Tamamlanma tarihi",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Department",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destination",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposition",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "Division",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Document number",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "Forward to",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "Grup",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "Dil",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Matter",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "Hayır",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "Office",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Sahibi",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Project",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Publisher",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "Purpose",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Received from",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Recorded by",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Kaydedilen Tarih",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Reference",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Source",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "Durumu",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Telephone number",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Yes or no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "Tarih",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "Sayı",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "Metin",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Typist",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "Değer",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "Evet",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(underlying properties)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "Even Page Footer",
  "XtraRichEditStringId.Caption_EvenPageHeader": "Even Page Header",
  "XtraRichEditStringId.Caption_FillInForms": "Filling in Forms",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "Asılı",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "İlk Satır",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(Yok)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "First Page Footer",
  "XtraRichEditStringId.Caption_FirstPageHeader": "First Page Header",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "Sonraki Paragraf",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changes",
  "XtraRichEditStringId.Caption_GroupNotes": "Footnotes",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "Hizalama",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "Hücre boyutu",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "Kenarlıklar && Gölgelendirme",
  "XtraRichEditStringId.Caption_GroupTableMerge": "Birleştirme",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "Satırlar && Sütunlar",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "Tablo stili seçenekleri",
  "XtraRichEditStringId.Caption_GroupTableStyles": "Tablo stilleri",
  "XtraRichEditStringId.Caption_GroupTableTable": "Tablo",
  "XtraRichEditStringId.Caption_Heading": "Başlık",
  "XtraRichEditStringId.Caption_HeightTypeExact": "Tam",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "En az",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "En az",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "Çift",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "Tam",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "Birden Çok",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "1.5 Satır",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "Tek",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Ana belge açıklamaları",
  "XtraRichEditStringId.Caption_NoColor": "Renk yok",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountFourColumn": "4 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountMatchSectionLayout": "Match section layout",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountOneColumn": "1 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountThreeColumn": "3 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountTwoColumn": "2 column",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeContinuous": "Sürekli",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewPage": "Restart each page",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewSection": "Restart each section",
  "XtraRichEditStringId.Caption_NotePositionBelowText": "Below text",
  "XtraRichEditStringId.Caption_NotePositionBottomOfPage": "Bottom of page",
  "XtraRichEditStringId.Caption_NotePositionEndOfDocument": "End of document",
  "XtraRichEditStringId.Caption_NotePositionEndOfSection": "End of section",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "Yok",
  "XtraRichEditStringId.Caption_OddPageFooter": "Tek Sayfa Altbilgisi",
  "XtraRichEditStringId.Caption_OddPageHeader": "Tek Sayfa Üstbilgisi",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "Düzey 1",
  "XtraRichEditStringId.Caption_OutlineLevel2": "Düzey 2",
  "XtraRichEditStringId.Caption_OutlineLevel3": "Düzey 3",
  "XtraRichEditStringId.Caption_OutlineLevel4": "Düzey 4",
  "XtraRichEditStringId.Caption_OutlineLevel5": "Düzey 5",
  "XtraRichEditStringId.Caption_OutlineLevel6": "Düzey 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "Düzey 7",
  "XtraRichEditStringId.Caption_OutlineLevel8": "Düzey 8",
  "XtraRichEditStringId.Caption_OutlineLevel9": "Düzey 9",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "Gövde Metni",
  "XtraRichEditStringId.Caption_PageBreak": "Sayfa Sonu",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "Tablo Araçları",
  "XtraRichEditStringId.Caption_PageFooter": "Altbilgi",
  "XtraRichEditStringId.Caption_PageHeader": "Üstbilgi",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "New column",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "Sürekli",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "Çift sayfa",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "Yeni Sayfa",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "Tek sayfa",
  "XtraRichEditStringId.Caption_PageTableDesign": "Tasarım",
  "XtraRichEditStringId.Caption_PageTableLayout": "Düzen",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "Orta",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "Justify",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "Sol",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "Sağ",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "Hanging",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "Indented",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "Yok",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "At Least",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "Double",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "Exactly",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "Multiple",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "Sesquialteral",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "Single",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "Önceki Paragraf",
  "XtraRichEditStringId.Caption_Readonly": "Değişiklik yok (salt okunur)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "Same as Previous",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "Sütun",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "Sürekli",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "Sonraki Sayfa",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "This point forward",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "Geçerli bölüm",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "Seçili bölümler",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "Tüm doküman",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.ColorAuto": "Otomatik",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.Comment": "Yorum [{0} {1}]:",
  "XtraRichEditStringId.CommentToolTipHeader": "{0}'dan",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} from {1}",
  "XtraRichEditStringId.DefaultDocumentName": "Belge",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "annotation reference",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "annotation subject",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "annotation text",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "Makale / Bölüm",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "Balloon Text",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "Block Text",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "Gövde Metni",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "Gövde Metni 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "Gövde Metni 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "Body Text First Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "Body Text First Indent 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Body Text Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "Body Text Indent 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "Body Text Indent 3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "Başlık",
  "XtraRichEditStringId.DefaultStyleName_Closing": "Closing",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Yorum başvurusu",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Yorum konusu",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "Comment Text",
  "XtraRichEditStringId.DefaultStyleName_Date": "Tarih",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "Varsayılan Paragraf Yazı Tipi",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "Document Map",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "E-mail Signature",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "Emphasis",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "endnote reference",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "endnote text",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "envelope address",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "envelope return",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "footer",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "footnote reference",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "footnote text",
  "XtraRichEditStringId.DefaultStyleName_header": "header",
  "XtraRichEditStringId.DefaultStyleName_heading1": "Başlık 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "Başlık 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "Başlık 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "Başlık 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "Başlık 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "Başlık 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "Başlık 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "Başlık 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "Başlık 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "HTML Acronym",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "HTML Address",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "HTML Bottom of Form",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "HTML Cite",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "HTML Code",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "HTML Definition",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "HTML Keyboard",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "HTML Preformatted",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "HTML Sample",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "HTML Top of Form",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML Typewriter",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML Variable",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "HyperlinkFollowed",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "HyperlinkStrongEmphasis",
  "XtraRichEditStringId.DefaultStyleName_index1": "index 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "index 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "index 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "index 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "index 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "index 6",
  "XtraRichEditStringId.DefaultStyleName_index7": "index 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "index 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "index 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "index heading",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "line number",
  "XtraRichEditStringId.DefaultStyleName_List": "List",
  "XtraRichEditStringId.DefaultStyleName_List2": "List 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "List 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "List 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "List 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "List Bullet",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "List Bullet 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "List Bullet 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "List Bullet 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "List Bullet 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "List Continue",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "List Continue 2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "List Continue 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "List Continue 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "List Continue 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "List Number",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "List Number 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "List Number 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "List Number 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "List Number 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "Macro Text",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "macro to a heading",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "Message Header",
  "XtraRichEditStringId.DefaultStyleName_NoList": "No List",
  "XtraRichEditStringId.DefaultStyleName_Normal": "Normal",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "Normal Indent",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "Normal Table",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "Normal (Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "Note Heading",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "Outline List 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "Outline List 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "Outline List 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "page number",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "Plain Text",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "Salutation",
  "XtraRichEditStringId.DefaultStyleName_Signature": "Signature",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Strong",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "Subtitle",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "Table 3D effects 1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "Table 3D effects 2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "Table 3D effects 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "Table Classic 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "Table Classic 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "Table Classic 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "Table Classic 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "Table Colorful 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "Table Colorful 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "Table Colorful 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "Table Columns 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "Table Columns 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "Table Columns 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "Table Columns 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "Table Columns 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "Table Contemporary",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "Table Elegant",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "Table Grid",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "Table Grid 1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "Table Grid 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "Table Grid 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "Table Grid 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "Table Grid 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "Table Grid 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "Table Grid 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "Table Grid 8",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "Table List 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "Table List 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "Table List 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "Table List 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "Table List 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "Table List 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "Table List 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "Table List 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "Table Normal",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "table of authorities",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "table of figures",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "Table Professional",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "Table Simple 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "Table Simple 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "Table Simple 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "Table Subtle 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "Table Subtle 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "Table Theme",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Table Web 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Table Web 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Table Web 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "Title",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA Heading",
  "XtraRichEditStringId.DefaultStyleName_toc1": "toc 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "toc 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "toc 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "toc 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "toc 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "toc 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "toc 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "toc 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "toc 9",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "Symbol",
  "XtraRichEditStringId.FieldLastName": "Last Name",
  "XtraRichEditStringId.FieldMapAddress1": "Address 1",
  "XtraRichEditStringId.FieldMapAddress2": "Address 2",
  "XtraRichEditStringId.FieldMapAddress3": "Address 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "Business Fax",
  "XtraRichEditStringId.FieldMapBusinessPhone": "Business Phone",
  "XtraRichEditStringId.FieldMapCity": "City",
  "XtraRichEditStringId.FieldMapCompany": "Company",
  "XtraRichEditStringId.FieldMapCountry": "Country or Region",
  "XtraRichEditStringId.FieldMapDepartment": "Department",
  "XtraRichEditStringId.FieldMapEMailAddress": "E-mail Address",
  "XtraRichEditStringId.FieldMapFirstName": "First Name",
  "XtraRichEditStringId.FieldMapHomeFax": "Home Fax",
  "XtraRichEditStringId.FieldMapHomePhone": "Home Phone",
  "XtraRichEditStringId.FieldMapJobTitle": "Job Title",
  "XtraRichEditStringId.FieldMapMiddleName": "Middle Name",
  "XtraRichEditStringId.FieldMapNickName": "Nickname",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "Spouse/Partner First Name",
  "XtraRichEditStringId.FieldMapPartnerLastName": "Spouse/Partner Last Name",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "Spouse/Partner Middle Name",
  "XtraRichEditStringId.FieldMapPartnerNickName": "Spouse/Partner Nickname",
  "XtraRichEditStringId.FieldMapPartnerTitle": "Spouse/Partner Courtesy Title",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "Phonetic Guide for First Name",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "Phonetic Guide for Last Name",
  "XtraRichEditStringId.FieldMapPostalCode": "Postal Code",
  "XtraRichEditStringId.FieldMapState": "State",
  "XtraRichEditStringId.FieldMapSuffix": "Suffix",
  "XtraRichEditStringId.FieldMapTitle": "Courtesy Title",
  "XtraRichEditStringId.FieldMapUniqueId": "Unique Identifier",
  "XtraRichEditStringId.FieldMapWebPage": "Web Page",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "Tüm Dosyalar",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "Tüm Desteklenen Dosyalar",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "Bitmap Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "Word 97-2003 Formatı",
  "XtraRichEditStringId.FileFilterDescription_DocmFiles": "Word Macro-Enabled Document",
  "XtraRichEditStringId.FileFilterDescription_DotFiles": "Word 97-2003 Template",
  "XtraRichEditStringId.FileFilterDescription_DotmFiles": "Word Macro-Enabled Template",
  "XtraRichEditStringId.FileFilterDescription_DotxFiles": "Word Template",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "Emf Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "Electronic Publication",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcFiles": "Word XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledFiles": "Word Macro-Enabled XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledTemplateFiles": "Word Macro-Enabled XML Template",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcTemplateFiles": "Word XML Template",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "Gif Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "HTML Formatı",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "JPEG Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Web Arşiv",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument Metin Dokümanı",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Word 2007 Formatı",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "Portable Document Format",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "PNG Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "Zengin Metin Formatı",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "Metin Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "Tiff Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Windows Metafile Dosyaları",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "Word XML Dokümanı",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Xaml Dokümanı",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "Kümedeki herhangi bir karakter",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "Küme dışındaki herhangi bir karakter",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "Herhangi bir tek karakter",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "Paragraf başı",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "Kelime başı",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "Paragraf sonu",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "Kelime sonu",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "Escape special character",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "Integer",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "One or more",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "Or",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "Space or tab",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "Tag expression",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "Tagged expression {0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "Word character",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "Zero or more",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "Ortala",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "Sola Hizala",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "Sağa Hizala",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "Karakter",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "Sütun",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "Inside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "Left Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "Outside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "Sayfa",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "Right Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "Bottom",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "Center",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "Inside",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "Outside",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "Top",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "Bottom Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "Inside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "Satır",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "Outside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "Sayfa",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "Paragraf",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "Top Margin",
  "XtraRichEditStringId.FontStyle_Bold": "Kalın",
  "XtraRichEditStringId.FontStyle_BoldItalic": "Kalın İtalik",
  "XtraRichEditStringId.FontStyle_Italic": "İtalik",
  "XtraRichEditStringId.FontStyle_Regular": "Normal",
  "XtraRichEditStringId.FontStyle_Strikeout": "Üstü Çizgili",
  "XtraRichEditStringId.FontStyle_Underline": "Altı Çizgili",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "Köprüyü Düzenle",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "Köprü Ekle",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "<Yok>",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "Dokümandaki seçim",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "Shift",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0} Char",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "Köprü",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "Normal",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Click for additional options, such as accepting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "Metin ekle",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "Paragraftan sonra boşluk ekle",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "Paragraftan önce boşluk ekle",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "Sözlüğe Ekle",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "Sözlüğe Ekle",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "All Authors",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_Bookmark": "Yer İşareti...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "Yer İşareti...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "Browser Print",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "Print document with browser print capabilities.",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "Browser Print Preview",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "Preview pages in browser before printing.",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "Her Sözcüğü Büyük Harfe Çevir",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "Her sözcüğü büyük harfe çevir.",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "Sütun Sayısı",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "Sütun Sayısı",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "Sütun Boyutu",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "Kalem Rengi",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "Kalem rengini değiştir.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "Line Style",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "Change the style of the line used to draw borders.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "Line Weight",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "Change the width of the line used to draw borders.",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "Position",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "Position the selected object on the page. Text is automatically set to wrap around the object",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "Shape Fill",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "Fill the selected shape with a solid color.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "Shape Outline",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "Specify color for the outline of the selected shape.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "Shape Outline Weight",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "Specify width for the outline of the selected shape.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "Metni Kaydır",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "Yazı Tipi Rengi",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "Yazı tipi rengini değiştir",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "Yazı Tipi",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "Yazı biçimini değiştirin.",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "Yazı Tipi Boyutu",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "Yazı Tipi boyutunu değiştirir.",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "Girinti",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "Dil",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "Yazım ve seçili metnin dilbilgisini denetlemek için kullanılan dile ayarlayın.",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(no spelling suggestions)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(no spelling suggestions)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "NoProof",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "Change NoProof",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "Sayfa Rengi",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "sayfanın arka planı için bir renk seçin.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "Gölgelendirme",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "Change the background behind the selected paragraph.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "IncrementParagraphFirstLineIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "IncrementParagraphFirstLineIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "ChangeParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "ChangeParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "Satır ve Paragraf Aralığı",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "Metin satırları arasındaki boşluğu değiştirir.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "Satır Numaraları",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "Kenar boşlukları",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "Belgenin veya geçerli bölüm için kenar boşluğu boyutlarını seçin.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "Yönlendirme",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "Sayfaları dikey ve yatay düzenler arasında geçiş yapma.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "Boyut",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "Geçerli sayfa boyutunu değiştirir.",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "Stil",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "Başlıklar, tırnak ve diğer metni bu stil galerisini kullanarak biçimlendirin.",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "Kenarlıklar",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "Hizalama",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "Seçili hücrelerin hizalama özelleştirin.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "Hücreleri Hizala",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "Hücreleri Hizala",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "Gölgelendirme",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "Color the background behind the selected cells.",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "Büyük/Küçük Harf Değiştir",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "Tüm seçili metni BÜYÜK HARF, küçük harf veya sık kullanılan başka bir büyük/küçük harf düzenine dönüştürür.",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "İmla",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "Check the spelling of text in the document.",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "Seçimden tüm biçimlendirmeyi temizleyerek yalnızca düz metin kalmasını sağlayın.",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "Geri Al Temizle",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "Geri Al Belleğini Temizle",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "Close Header and Footer",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "Close the Header and Footer Tools.\n\nYou can also double click the document area to return to editing it.",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "Formül Çubuğunu Daralt veya  Genişlet",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "Daraltmak veya genişletmek formül çubuğunu (Ctrl + Shift + U)",
  "XtraRichEditStringId.MenuCmd_Comment": "Yorumları Gör",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Choose whether or not to highlight comments in the document.",
  "XtraRichEditStringId.MenuCmd_ConvertNotesDescription": "Convert Note",
  "XtraRichEditStringId.MenuCmd_ConvertToEndnote": "Convert to Endnote",
  "XtraRichEditStringId.MenuCmd_ConvertToFootnote": "Convert to Footnote",
  "XtraRichEditStringId.MenuCmd_CopySelection": "Kopyala",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "Seçimi kopyalayın ve Pano'ya yerleştirin.",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "Create Bookmark",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "Create Bookmark",
  "XtraRichEditStringId.MenuCmd_CreateField": "Create Field",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "Create Field",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "CreateHyperlink",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "CreateHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_CutSelection": "Kes",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "Seçimi kesin ve panoya yapıştırın.",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "Yazı Tipini Küçült",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "Metnin yazı tipini küçültür.",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "Girintiyi Azalt",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "Paragrafın girinti düzeyini azaltın.",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "DecrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "DecrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_Delete": "Sil",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "Delete All Comments",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "Delete All Comments.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "Delete All Comments Shown",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "Delete All Comments Shown.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "DeleteBackCore",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "DeleteBackCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "Delete Bookmark",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "Delete Bookmark",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "Yorum silmek",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Yorum silmek",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "DeleteCore",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "DeleteCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "Sil",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "Delete Comment",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "Delete Repeated Word",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "Delete Repeated Word",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "Delete Table",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "Hücreleri Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "Delete rows, columns, or cells",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "Hücreleri Sil...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "Sütunları Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "Sütunları Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "Delete Entire Table",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "Delete rows, columns, cells, or the entire Table",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "Satırları Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "Satırları Sil",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "Tablo stili Sil",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "Kelimeyi Sil",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "DeleteWordCore",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "DeleteWordCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "Tüm Seçimi Kaldır",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "Araştırma belge seçimi.",
  "XtraRichEditStringId.MenuCmd_DraftView": "Taslak Görünüm",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "Taslak Görünüm",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "Edit hyperlink...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "Edit hyperlink...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "Altbilgi",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "Belgenin alt bilgisini düzenleyin.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "Üstbilgi",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "Belgenin üst bilgisini düzenleyin.",
  "XtraRichEditStringId.MenuCmd_EditTOC": "İçindekiler... düzenlemek",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnterKey": "EnterKey",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "EnterKeyDescription",
  "XtraRichEditStringId.MenuCmd_Find": "Bul",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindDescription": "Find text in the document.",
  "XtraRichEditStringId.MenuCmd_FindNext": "Find Next",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "Repeats the last search forward.",
  "XtraRichEditStringId.MenuCmd_FindPrev": "Find Prev",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "Repeats the last search backward.",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "First Record",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "First Record",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Yüksekliği Sığdır",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Adjusts the document zoom factor to fit the entire page height to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "Sayfaya Sığdır",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Adjusts the document zoom factor to fit the entire page to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "Genişliğe Sığdır",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Adjusts the document zoom factor to fit the entire page width to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "Bir Öne Getir",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "En Öne Getir",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "Metnin Önüne Getir",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "En Öne Getir",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "Bir Arkaya Gönder",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "En Arkaya Gönder",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "Metnin Arkasına Gönder",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "En Arkaya Gönder",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "Seçili nesneyi diğer tüm nesnelerin arkasına gönderin.",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "Alt Simge",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "Metnin taban çizgisinin altında küçük harfler oluşturur.",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "Üst Simge",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "Metin satırının üstünde küçük harfler oluşturur.",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "Sonrakini Göster",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "Navigate to the next section's header or footer",
  "XtraRichEditStringId.MenuCmd_GoToPage": "Go To Page",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "Go To Page",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "Go to Footer",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "Activate the footer on this page so that you can edit it.",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "Go to Header",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "Activate the header on this page so that you can edit it.",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "Öncekini Göster",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "Navigate to the previous section's header or footer",
  "XtraRichEditStringId.MenuCmd_HighlightText": "Metin Vurgu Rengi",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "Metnin vurgulanmış kalemle işaretlenmiş gibi görünmesini sağlar.",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "Köprü...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "Köprü...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "Ignore All",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "Ignore All",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "Ignore",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "Ignore",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "Yazı Tipini Büyült",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "Metnin yazı tipini büyütür.",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "Girintiyi Artır",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "Paragrafın girinti düzeyini artırın.",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "IncrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "IncrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "Kesmeler",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "Belgeye sayfa, bölüm veya sütun sonları ekleyin.",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "Madde İşaretleri",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "Madde işareti başlatın.",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "Başlık Ekle",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "Add a caption to a picture or other image.\n\nA caption is a line of text that appears below an object to describe it.",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "Sütun",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "Sütun sonunu izleyen metnin sonraki sütunda başlayacaktır göster.",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEndnote": "Insert Endnote",
  "XtraRichEditStringId.MenuCmd_InsertEndnoteDescription": "Add a endnote",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "Equations Caption",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "Add a equation caption.",
  "XtraRichEditStringId.MenuCmd_InsertField": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "Figures Caption",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "Add a figure caption.",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "Resim",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Dosyadan resim ekler.",
  "XtraRichEditStringId.MenuCmd_InsertFootnote": "Insert Footnote",
  "XtraRichEditStringId.MenuCmd_InsertFootnoteDescription": "Add a footnote",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "InsertHyperlink",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "InsertHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "Insert Merge Field",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "Insert Merge Field",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "Çok Düzeyli Liste",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "Çok düzeyli listeyi başlatın.",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertObject": "Nesne",
  "XtraRichEditStringId.MenuCmd_InsertObjectDescription": "Insert an embedded object, such as another Word document or an Excel chart.",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "Sayfa Sonu",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "Sayfa Sonu",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Sonraki sayfayı geçerli konumda başlatın.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "Geçerli pozisyonu bir sonraki sayfaya taşır.",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "Sayfa Sayısı",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "Dokümana toplam sayfa sayısını ekle.",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "Sayfa Numarası",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "Dokümana sayfa numarası ekle.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "Paragraf Ekle",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "ParagrafEkle",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "Satır İçi Resim",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "Dosyadan satır içi resim ekler.",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "Bölüm (Sürekli)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "Bölüm sonu Ekle ve yeni bölümü aynı sayfada Başlat.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "Bölüm (Çift Sayfa)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "Bölüm sonu Ekle ve yeni bölümü sonraki çift numaralı sayfada Başlat.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "Bölüm (Sonraki Sayfa)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "Bölüm sonu Ekle ve yeni bölümü sonraki sayfadan başlat.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "Bölüm (Tek Sayfa)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "Bölüm sonu Ekle ve yeni bölümü sonraki tek numaralı sayfada Başlat.",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "Numaralandırma",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "Numaralanmış listeyi başlatın.",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "Sembol",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "Sembol ekler.",
  "XtraRichEditStringId.MenuCmd_InsertTab": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTable": "Tablo",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "Hücre Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "Hücre Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "Sola Sütun Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "Seçili sütunun soluna yeni bir sütun eklemek.",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "Sağa Sütun Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "Seçili sütunun sağına yeni bir sütun eklemek.",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "Dokümana yeni bir tablo ekler.",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "Tablo Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "Table of Contents",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "Add the Table of Contents to the document.\n\nOnce you have added a Table of Contents, click the Add Text button to add entries the the table.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "Table of Equations",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "Insert a Table of Equations into the document.\n\nA Table of Equations includes a list of all the equations in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "Table of Figures",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "Insert a Table of Figures into the document.\n\nA Table of Figures includes a list of all the figures in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "Insert Table of Figures",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "Insert a Table of Figures into the document.\n\nA Table of Figures includes a list of all of the figures, tables or equations in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "Tablolar Tablosu",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "Insert a Table of Tables into the document.\n\nA Table of Tables includes a list of all the tables in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "Yukarıya Satır Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "Doğrudan seçili satırın üstüne yeni bir satır ekleyin.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "Aşağıya Satır Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "Hemen altındaki seçili satırın yeni bir satır ekleyin.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "Tables Caption",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "Add a table caption.",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "InsertTabToParagraph",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "InsertTabToParagraphDescription",
  "XtraRichEditStringId.MenuCmd_InsertText": "Metin Ekle",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "Metin Kutusu",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "Metin kutusu ekler.",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_Language": "Dil",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "Yazım ve seçili metnin dilbilgisini denetlemek için kullanılan dile ayarlayın.",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "Son Kayıt",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "Son Kayıt",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "Aç",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "Yeni bir dosya açar",
  "XtraRichEditStringId.MenuCmd_LockField": "Alanı kilitle",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "Alanı kilitle",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "Mail Merge",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "Mail Merge",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "lowercase",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "Change all the selected text to lowercase.",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "BÜYÜK HARF",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "Seçili metni değiştirmek için büyük HARF'i.",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "Hücreleri Birleştir",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "Merge the selected cells into one cell.",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "ModifyHyperlink",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "ModifyHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "Tablo stilini değiştir",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveForward": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_NewComment": "New Comment",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Add a comment about the selection.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "Yeni",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "Yeni bir doküman oluşturur.",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "Yeni tablo stili...",
  "XtraRichEditStringId.MenuCmd_NextComment": "Sonraki",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "Navigate to the next comment in the document.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "Next Record",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "Next Record",
  "XtraRichEditStringId.MenuCmd_NextEndnote": "Next Endnote",
  "XtraRichEditStringId.MenuCmd_NextEndnoteDescription": "Jump to next endnote",
  "XtraRichEditStringId.MenuCmd_NextFootnote": "Next Footnote",
  "XtraRichEditStringId.MenuCmd_NextFootnoteDescription": "Jump to next footnote",
  "XtraRichEditStringId.MenuCmd_NextRevision": "Sonraki",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_NoteOptions": "Note Options...",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "Open hyperlink",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "OpenHyperlinkAtCaretPosition",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "OpenHyperlinkAtCaretPositionDescription",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "Open hyperlink",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "Ortala",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "Metni ortalar.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "Yasla",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "Gerektiğinde sözcüklerin arasına fazladan boşluk ekleyerek metni hem sol hem de sağa hizalar.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Align text to both left and right margins.\n\nSpecifies that a paragraph uses the kashida with the widest length for Arabic text. For other languages, paragraph text is justified with the widest inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses small length Kashida. In other languages, text is justified with short inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses medium-length Kashida. In other languages, text is justified with wider inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "Metni Sola Hizala",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "Metni sola hizalar.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "Metni Sağa Hizala",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "Metni sağa hizalar.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "Geçerli Paragrafta Gösterme",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "Geçerli Paragrafta Gösterme",
  "XtraRichEditStringId.MenuCmd_Paste": "Yapıştır",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "Pano'nun içeriğini yapıştırır.",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "Dosyaları Yapıştır",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "Gömülü dosya olarak Pano içeriğini ekler.",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "Html Metin",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "HTML biçimi olarak Pano içeriğini ekler.",
  "XtraRichEditStringId.MenuCmd_PasteImage": "Resim Yapıştır",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "Resim olarak Pano içeriğini ekler.",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "Metafile Resim",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "Meta dosyası olarak Pano içeriğini ekler.",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "Düz Metin",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "Pano içeriğini metin olarak herhangi bir biçimlendirme olmadan ekler.",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "RTF Metin",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "Zengin Metin",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "Silverlight Xaml Metin",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "Yazı tipi biçimlendirmeye sahip metni Pano içeriğini ekler.",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "Önceki",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "Navigate to the previous comment in the document.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "Previous Record",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "Previous Record",
  "XtraRichEditStringId.MenuCmd_PreviousEndnote": "Previous Endnote",
  "XtraRichEditStringId.MenuCmd_PreviousEndnoteDescription": "Jump to previous endnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnote": "Previous Footnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnoteDescription": "Jump to previous footnote",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "Önceki",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "Yazdır",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "Yazıcıyı, kopya sayısını ve diğer yazdırma seçeneklerini yazdırmadan önce seçin.",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "Önizleme",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "Yazdırmadan önce sayfaların önizlemesini.",
  "XtraRichEditStringId.MenuCmd_PrintView": "Yazdır Görünümü",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "Yazdır Görünümü",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "Protect Document",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "Help restrict people from editing the document by specifying a password.",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "Hızlı Yazdır",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "Belgeyi değişiklik yapmadan doğrudan varsayılan yazıcıya gönderin.",
  "XtraRichEditStringId.MenuCmd_ReadingView": "Okuma Görünümü",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "Okuma Görünümü",
  "XtraRichEditStringId.MenuCmd_Redo": "Yeniden Yap",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "Yeniden Yap",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "Remove hyperlink",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "Remove hyperlink",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "Remove Space &After Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "Remove Space &Before Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "Değiştir",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "ReplaceAllBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "ReplaceAllBackwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "ReplaceAllForward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "ReplaceAllForwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "Dokümandaki metni değiştirir.",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "ReplaceText",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "ReplaceTextDescription",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "Reset Character Formatting",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "Makes the selection the default character format of the applied style.",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "Kenarlık Yok",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Yorumcular",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "Hangi gözden geçirenin açıklamaları belgede vurgulamak için seçin.",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "Gözden Geçirme Bölmesi",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "Göster veya gizle belge ayrı bir pencerede yorum.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "Kaydet",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "Farklı Kaydet",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "Bir dosya biçimi seçin ve belgeyi yeni bir konuma kaydetmek için farklı Kaydet iletişim kutusunu açın.",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "Dokümanı kaydeder.",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "Scroll Down",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "Scroll Down",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_SelectAll": "Hepsini Seç",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "Tüm belge içeriğinin seçin.",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "Select Bookmark",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "Select Bookmark",
  "XtraRichEditStringId.MenuCmd_SelectComment": "Yorum seçin",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "Yorum seçin",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "SelectFieldNextToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "SelectFieldNextToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "SelectFieldPrevToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "SelectFieldPrevToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectTable": "Tablo Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "Hücre Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "Hücre Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "Select Column",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "Select Column",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "Tablo Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "Select the current cell, row, column, or entire table",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "Satır Seç",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "Satır Seç",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "Metnin Arkasına",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "Bottom Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "Position in Bottom Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "Bottom Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "Position in Bottom Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "Bottom Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "Position in Bottom Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "Metnin Önüne",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "Middle Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "Position in Middle Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "Middle Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "Position in Middle Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "Middle Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "Position in Middle Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "Kare",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "Boyunca",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "Sıkı",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "Üst ve Alt",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "Top Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "Position in Top Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "Top Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "Position in Top Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "Top Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "Position in Top Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "Otomatik",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "Hiçbiri",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "Yatay",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "Orta\nÜst:\t{1,10}\tAlt:\t{3,10}\nSol:\t{0,10}\tSağ:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "Dar\nÜst:\t{1,10}\tAlt:\t{3,10}\nSol:\t{0,10}\tSağ:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "Normal\nÜst:\t{1,10}\tAlt:\t{3,10}\nSol:\t{0,10}\tSağ:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "Do Not Show in Table of Contents",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "Do Not Show in Table of Contents",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Seviye 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Seviye 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Seviye 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Seviye 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Seviye 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Seviye 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Seviye 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Seviye 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Seviye 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Seviye 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Seviye 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Seviye 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Seviye 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Seviye 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Seviye 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Seviye 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Seviye 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "Level {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "Dikey",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "Sütunlar",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "Metni iki veya daha çok sütuna bölün.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "Sürekli",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "Sürekli",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "Yok",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "Satır numaraları yok.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "Her Sayfayı Yeniden Başlat",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "Her Sayfayı Yeniden Başlat",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "Her Bölümü Yeniden Başlat",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "Her Bölümü Yeniden Başlat",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "Bir",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "Bir Sütun",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "Üç",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "Üç sütun",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "İki",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "İki sütun",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "Geniş\nÜst:\t{1,10}\tAlt:\t{3,10}\nSol:\t{0,10}\tSağ:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "Show All Field Codes",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "Show All Field Codes",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "Show All Field Results",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "Show All Field Results",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "Yer İşareti",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Borders and Shading",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explore additional border options, such as line color and line width",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "Diğer Sütunlar...",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "Sütun genişliklerini özelleştirmek için sütun iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "Yorum",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "Yorum iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Document Properties",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Özellikler iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "Modify Style",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "Show the Edit Style dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowEndnote": "Go to Endnote",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "Layout",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "Show the Layout dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "Font",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "Show the Font dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowFootnote": "Go to Footnote",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "Köprü",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "Web sayfası, bir resim, e-posta adresi veya bir program için bir bağlantı oluşturmak.",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "Insert Merge Field",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "Add a field from a list of recipients or from a data table to the document.",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "Satır Numaralandırma Ayarları...",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "Satır Numaralandırma Ayarları",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "Satır Boşluk Ayarları...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNotes": "Show Notes",
  "XtraRichEditStringId.MenuCmd_ShowNotesDescription": "Jump to the footnotes or endnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesForm": "Footnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesFormDescription": "Show the Notes dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "Numaralandırma",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "Show the Numbered List dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "Özel Kenar Boşlukları...",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "Tüm Sayfa Boyutları...",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "Sayfa Düzeni",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "Show the Page Setup dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "Paragraf",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "Paragraf iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "Özel Yapıştır",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "Özel Yapıştır",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "Range Editing Permissions",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "Range Editing Permissions",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "Sembol",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "Simge iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "Hücre kenar boşlukları",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "Hücre kenar boşluklarını ve hücreler arasındaki aralığı özelleştirin.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "Özellikler",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "Girinti ve metin kaydırma seçenekleri gibi gelişmiş tablo özelliklerini değiştirmek için tablo özellikleri iletişim kutusunu gösterin.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "Show the Table Properties dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "Tablo Özellikleri...",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "Sekme",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "Sekme",
  "XtraRichEditStringId.MenuCmd_SimpleView": "Normal Görünüm",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "Normal Görünüm",
  "XtraRichEditStringId.MenuCmd_SplitTable": "Tabloyu Ayır",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "Hücreleri Ayır",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "Seçili hücreleri birden çok yeni hücreye bölün.",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "Hücreleri Ayır...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "Split the table into two tables.\nThe selected row will become the first row of the new table.",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "Taslak Görünümü",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "Yazdırma Görünümü",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "Belgeyi yazdırılan sayfada görüneceği şekilde görüntüle.",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "Basit Görünüm",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "Ekle",
  "XtraRichEditStringId.MenuCmd_TabKey": "TabKey",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "TabKey",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Toggle All Fields",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Toggle between displaying field codes and their results in the document",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "Yazarlar görünürlüğünü aç/kapat",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "Yazarlar görünürlüğünü aç/kapat",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "Sütun bantları",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "Display banded columns, in which even columns are formatted differently from odd columns.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "Satır bantları",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "Display banded rows, in which even rows are formatted differently from odd rows.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "Farklı İlk Sayfa",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "Specify a unique header and footer for the first page of the document.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "Different Odd && Even Pages",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "Specify that odd-numbered pages should have a different header and footer from even-numbered pages.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "Toggle Field Codes",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "Toggle Field Codes",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "İlk sütun",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "Tablonun ilk sütununun özel biçimlendirmesini görüntülemek.",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "Başlık satırı",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "Tablonun ilk satırı için özel biçimlendirme görüntüleyin.",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "Kalın",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "Seçili metni kalın yazı tipine dönüştürür.",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "Üstü Çift Çizgili",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "Seçili metnin ortasından çift çizgi çizer.",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "Çift Altı Çizgili",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Seçilen metnin altını çift çizgiyle çizer.",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "İtalik",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "Seçili metni italik yapar.",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "Üstü Çizgili",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "Seçili metnin ortasından geçen bir çizgi çizer.",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "Altı Çizili",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "Seçili metnin altını çizer.",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "Öncekine Bağla",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "Link to the previous section so that the header and footer in the current section contain the same content as in the previous section.",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "Hidden",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "Hidden.",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "Son sütun",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "Tablonun son sütununun özel biçimlendirmesini görüntülemek.",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "Toplam satırı",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "Tablonun son satırı için özel biçimlendirme görüntüleyin.",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Üzerine yazma",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Üzerine yazma",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "Yatay Cetvel",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "View Gridlines",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "Show or hide the gridlines within the table.",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "Dikey Cetvel",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "View the vertical ruler, used to measure and line up objects in the document",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "Check Spelling As You Type",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "Check Spelling As You Type",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "İçeriğe Otomatik Sığdır",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "İçeriği için tabloyu otomatik sığdır.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "Otomatik Sığdır",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "Pencereye Otomatik Sığdır",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "Tabloyu pencereye otomatik sığdır.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "Tüm Kenarlıklar",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "Alt Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "Alt Ortaya Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "Metin ortalayın ve hücrenin altına hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "Alt Sola Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "Metni hücrenin sol alt köşesine hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "Alt Sağa Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "Metni hücrenin sağ alt köşesinde hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "İç Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "İç Yatay Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "İç Dikey Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "Sol Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "Dikey Ortaya Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "Metni hücre içinde yatay ve dikey olarak ortalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "Orta Sola Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "Center text vertically and align it to the left side of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "Orta Sağa Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "Metni dikey olarak ortalayın ve hücrenin sağ kenarına hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "Dış Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "Sağ Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "Üst Kenarlık",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "Customize the borders of the selected cells.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "Üst Ortaya Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "Metin ortalayın ve hücrenin üstüne hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "Üst Sola Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "Metni hücrenin sol üst köşesine hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "Üst Sağa Hizala",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "Metni hücrenin sağ üst köşesine hizalayın.",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "Sabit Sütun Genişliği",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "Tablo boyutunu sabit bir genişliğe ayarla.",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "bÜYÜK kÜÇÜK dÖNÜŞTÜR",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "bÜYÜK kÜÇÜK dÖNÜŞTÜR",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "View Merged Data",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "Replaces the merge fields in your document with actual data from your recipient list so you can see what it looks like.",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "Göster/Gizle ¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "Paragraf işaretlerini ve diğer gizli biçimlendirme simgelerini görüntüle.",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Track Changes",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Keep track of changes made to this document.",
  "XtraRichEditStringId.MenuCmd_Undo": "Geri Al",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "Geri Al",
  "XtraRichEditStringId.MenuCmd_UnlockField": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "Unprotect Document",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "Unprotect Document",
  "XtraRichEditStringId.MenuCmd_UpdateField": "Update Field",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "Update Field",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "Update Fields",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "Update Fields",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "Update Table",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "Update the Table of Contents so that all the entries refer to the correct page number.",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "Tabloyu güncelleştir",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "Şekiller tablosu girdilerini belgeye dahil güncelleştirin.",
  "XtraRichEditStringId.MenuCmd_Zoom": "Yakınlaştır",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "Yakınlaştır",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "Yakınlaş",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "Belgeyi yakından görmek için yakınlaştırır.",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "Uzaklaş",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "Daha fazla sayfa küçültülmüş boyutta görmek için uzaklaştırabilirsiniz.",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "Bookmark with the same name already exists. Replace?",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "Cannot delete default style.",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "Can not reset default style settings.",
  "XtraRichEditStringId.Msg_ClickToComment": " commented:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "Bağlantıya  Tıkla",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "Dokümanın başından itibaren aramaya başlamak istiyor musun?",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "Do you want to start the search from the end of the document?",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "Do you want to search the remainder of the document?",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "Cannot create a hyperlink. The hyperlink in the specified range already exists.",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "Tarzı {0} belgeden silmek istiyor musunuz?",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "Error: specified document position or range belongs to other document or subdocument",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "Şifre hatalı!",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "Şifreler eşleşmiyor.",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "Bookmark with that name already exists in the document",
  "XtraRichEditStringId.Msg_EncryptedFile": "Şifreli dosyalar şu anda desteklenmiyor",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "The value entered does not match the specified type. The value will be stored as text.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "Error: cannot link deleted style",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "Bookmark name should start with a letter and contain only alphanumeric characters and underscore.",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "Error: number cannot be represented in the specified format.",
  "XtraRichEditStringId.Msg_IncorrectOleObjectInsertType": "This OLE object is linked and cannot be saved. You can save only embedded OLE objects.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "Incorrect pattern.",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "İç Hata",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "Error: call to BeginInit inside BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "Error: call to BeginUpdate inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "Error: source and destination document models are different",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "The number must be a divisor of {0}.",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "Error: document models are different",
  "XtraRichEditStringId.Msg_InvalidEndInit": "Error: call to EndInit or CancelInit without BeginInit or inside BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "Error: call to EndUpdate or CancelUpate without BeginUpdate or inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidFontSize": "Sayı {0} ile {1} arasında olmalıdır.",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "The measurement must be between {0} and {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "The specified image path does not exist.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "The specified image is not valid.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "The address of this site is not valid. Check the address and try again.",
  "XtraRichEditStringId.Msg_InvalidNumber": "Geçersiz Sayı.",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "NumberingListIndex refers to a list that does not exist.",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "'Start At' must be between {0} and {1} for this format",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "Error: paragraph already contains numbering",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "Error: invalid parent style assignment caused circular reference",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "Error: cannot set properties without BeginInit or without adding object to document",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "Error: cannot set properties without BeginInit or without adding object to document",
  "XtraRichEditStringId.Msg_InvalidString": "This is not a valid string.",
  "XtraRichEditStringId.Msg_InvalidStyleName": "Geçersiz stil ismi",
  "XtraRichEditStringId.Msg_InvalidTabStop": "Geçersiz sekme durağı.",
  "XtraRichEditStringId.Msg_InvalidValueRange": "Değer {0} ile {1} arasında olmalıdır.",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}' '{1}' için geçerli bir değer değil",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "Sol/sağ kenar boşlukları bazı bölümlerdeki sayfa yüksekliği için çok büyük.",
  "XtraRichEditStringId.Msg_Loading": "Yükleniyor...",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "The file you are trying to open is in different format than specified by the file extension.",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "!Missing operator.",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "Default tab stops cannot be set.",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "No table of contents entries found.",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "Cannot use a numbering List. The numbering list must be added to Document.NumberingLists collection",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "This style name already exists.",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "Password length must be less than {0} characters long.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "Printing is not available. Check if the following assemblies are installed:\n{0}\n{1}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "{0} adet değiştirildi.",
  "XtraRichEditStringId.Msg_Saving": "Kaydediliyor...",
  "XtraRichEditStringId.Msg_SearchComplete": "Arama Tamamlandı.",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "Dokümanın başına ulaşıldı.",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "Dokümanın sonuna ulaşıldı.",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "The search in the selection is finished.",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "Aranılan metin bulunamadı.",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "Cannot select a bookmark of inactive SubDocument.",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "Error: style already contains a linked style",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "The style name cannot be empty.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "Söz dizimi hatası, {0}.",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "Error: broken table integrity",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "Üst/alt kenar boşlukları bazı bölümlerdeki sayfa yüksekliği için çok büyük.",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "!Unexpected end of formula.",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "Error! Unknown switch argument.",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "Error: pattern string contains unmatched quotes.",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "MS Word 97 ve daha sonraki versiyonlar destekleniyor",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "File format is not supported",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "Error: using deleted bookmark",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "Error: using deleted comment",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "Error: using field paragraph",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "Error: using deleted hyperlink",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "Error: using deleted paragraph",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "Error: using deleted section",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "Error: using deleted style",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "Error: using deleted table cell",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "Error: using deleted table",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "Error: using deleted table row",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "Yanlış birim kullanılmış.",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "Error: character properties are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Hatası: Bu uyumluluk ayarları artık geçerli değil",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Hata: Bu özel özellikler artık geçerli değil",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "Error: this document is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Error: this document properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "Error: paragraph properties are no longer valid",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "Error: document variable is either missing or deleted (from Variables collection)",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!Zero divide.",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "This action can be performed only on Windows operating system.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Sayfa {2}: [{3}]",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "Bir seçimi kaldıramazsınız. En az bir seçim gereklidir.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "Düzeltme işareti kaldıramazsınız.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Current selection and the specified selection intersect.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "Boş bir koleksiyon ekleyemezsiniz.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "Seçili aralıktaki ilk hücreyi bir seçim koleksiyonunda izin verilmez dikey birleştirme devam ediyor.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "Seçili aralıktaki son hücreyi bir seçim koleksiyonunda izin verilmez dikey birleştirme devam ediyor.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Dizin aralık dışında yapıldı. Negatif ve seçim koleksiyon boyutundan küçük olmalıdır.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Partially selected cells are not allowed.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Range cannot be empty.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "Bir seçim aralığı değil birden fazla satır içermelidir",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "Seçim koleksiyonu boş.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "The selection extends outside the table, so the entire row must be selected.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "Seçim en az bir karakter içermelidir.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Specified selections intersect.",
  "XtraRichEditStringId.TabForm_All": "Hepsi",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "Merkezi",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "İçinde",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "Sol",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "Dışarıda",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "Sağ",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "Sütun",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "Sayfa",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "Alt",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "Merkezi",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "İçinde",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "Dışarıda",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "Üst",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "Sayfa",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "Paragraf",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "Yeni Pencere",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "Üst Çerçeve",
  "XtraRichEditStringId.TargetFrameDescription_Self": "Aynı çerçeve",
  "XtraRichEditStringId.TargetFrameDescription_Top": "Tüm sayfa",
  "XtraRichEditStringId.UnderlineNone": "(yok)",
  "XtraRichEditStringId.UserGroup_Administrators": "Administrators",
  "XtraRichEditStringId.UserGroup_Contributors": "Contributors",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Current User",
  "XtraRichEditStringId.UserGroup_Editors": "Editors",
  "XtraRichEditStringId.UserGroup_Everyone": "Everyone",
  "XtraRichEditStringId.UserGroup_Owners": "Owners",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "Otomatik",
  "RichEditExtensionsStringId.Caption_Formatting": "Biçimlendirme",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "Başlıklar",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "Pano",
  "RichEditExtensionsStringId.Caption_GroupCommon": "Yaygın",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "Yorum",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "Dil",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "Proofing",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "Koruma",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "İzleme",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "Görünümler",
  "RichEditExtensionsStringId.Caption_GroupEditing": "Düzenleme",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "Düzenle",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "Şekil Stilleri",
  "RichEditExtensionsStringId.Caption_GroupFont": "Yazı Tipi",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "Üstbilgi && Altbilgi",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "Kapat",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "Navigasyon",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "Seçenekler",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "Çizimler",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Bilgi:",
  "RichEditExtensionsStringId.Caption_GroupLinks": "Bağlantılar",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "Posta Birleştirme",
  "RichEditExtensionsStringId.Caption_GroupNotes": "Footnotes",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "Sayfa arka planı",
  "RichEditExtensionsStringId.Caption_GroupPages": "Sayfalar",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "Sayfa Yapısı",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "Paragraf",
  "RichEditExtensionsStringId.Caption_GroupShow": "Göster",
  "RichEditExtensionsStringId.Caption_GroupStyles": "Stiller",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "Semboller",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "Tablo İçeriği",
  "RichEditExtensionsStringId.Caption_GroupTables": "Tablolar",
  "RichEditExtensionsStringId.Caption_GroupText": "Metin",
  "RichEditExtensionsStringId.Caption_GroupZoom": "Yakınlaş",
  "RichEditExtensionsStringId.Caption_NoColor": "Renk yok",
  "RichEditExtensionsStringId.Caption_NoFill": "Dolgu yok",
  "RichEditExtensionsStringId.Caption_NoOutline": "Hiçbir anahat",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "Resim Araçları",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "Üstbilgi & Altbilgi Araçları",
  "RichEditExtensionsStringId.Caption_PageFile": "Dosya",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "Biçim",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "Tasarım",
  "RichEditExtensionsStringId.Caption_PageHome": "Giriş",
  "RichEditExtensionsStringId.Caption_PageInsert": "Ekle",
  "RichEditExtensionsStringId.Caption_PageLayout": "Düzen",
  "RichEditExtensionsStringId.Caption_PageMailings": "Postalar",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "Sayfa Düzeni",
  "RichEditExtensionsStringId.Caption_PageReferences": "Referanslar",
  "RichEditExtensionsStringId.Caption_PageReview": "Denetim",
  "RichEditExtensionsStringId.Caption_PageView": "Görünüm",
  "ASPxRichEditStringId.Font": "Yazı tipi",
  "ASPxRichEditStringId.FontStyle": "Font style",
  "ASPxRichEditStringId.FontSize": "Font size",
  "ASPxRichEditStringId.FontColor": "Font color",
  "ASPxRichEditStringId.UnderlineStyle": "Underline style",
  "ASPxRichEditStringId.UnderlineColor": "Underline color",
  "ASPxRichEditStringId.Effects": "Effect",
  "ASPxRichEditStringId.AllCaps": "All caps",
  "ASPxRichEditStringId.Hidden": "Gizli",
  "ASPxRichEditStringId.Normal": "Normal",
  "ASPxRichEditStringId.Bold": "Kalın",
  "ASPxRichEditStringId.Italic": "İtalik",
  "ASPxRichEditStringId.BoldItalic": "Bold Italic",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Underline words only",
  "ASPxRichEditStringId.UnderlineType_None": "Hiçbiri",
  "ASPxRichEditStringId.UnderlineType_Single": "Tek",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Noktalı",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Kesik çizgili",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "Çizgi noktalı",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Noktalı çizgi nokta",
  "ASPxRichEditStringId.UnderlineType_Double": "Çift",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Ağır dalga",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Uzun çizgili",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Kalın tek",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Kalın noktalı",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Kalın çizgili",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Kalın çizgi noktalı",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Thick Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Kalın uzun çizgili",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Çift dalga",
  "ASPxRichEditStringId.UnderlineType_Wave": "Dalga",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Dash Small Gap",
  "ASPxRichEditStringId.StrikeoutType_None": "Hiçbiri",
  "ASPxRichEditStringId.StrikeoutType_Single": "Tek",
  "ASPxRichEditStringId.StrikeoutType_Double": "Çift",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "Normal",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "Alt simge",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "Üst simge",
  "ASPxRichEditStringId.ParagraphTab0": "Indents And Spacing",
  "ASPxRichEditStringId.ParagraphTab1": "Line And Page Breaks",
  "ASPxRichEditStringId.General": "Genel",
  "ASPxRichEditStringId.Alignment": "Hizalama",
  "ASPxRichEditStringId.Left": "Sol",
  "ASPxRichEditStringId.Right": "Sağ",
  "ASPxRichEditStringId.Centered": "Centered",
  "ASPxRichEditStringId.Justified": "Justified",
  "ASPxRichEditStringId.OutlineLevel": "Outline level",
  "ASPxRichEditStringId.BodyText": "Body Text",
  "ASPxRichEditStringId.Level": "Seviye",
  "ASPxRichEditStringId.Indentation": "Indentation",
  "ASPxRichEditStringId.Special": "Özel",
  "ASPxRichEditStringId.By": "By",
  "ASPxRichEditStringId.none": "(yok)",
  "ASPxRichEditStringId.FirstLine": "First line",
  "ASPxRichEditStringId.Hanging": "Hanging",
  "ASPxRichEditStringId.Spacing": "Spacing",
  "ASPxRichEditStringId.Before": "Before",
  "ASPxRichEditStringId.LineSpacing": "Line spacing",
  "ASPxRichEditStringId.At": "At",
  "ASPxRichEditStringId.After": "After",
  "ASPxRichEditStringId.Single": "Tek",
  "ASPxRichEditStringId.spacing_1_5_lines": "1.5 lines",
  "ASPxRichEditStringId.Double": "Çift",
  "ASPxRichEditStringId.Multiple": "Multiple",
  "ASPxRichEditStringId.Exactly": "Exactly",
  "ASPxRichEditStringId.AtLeast": "At least",
  "ASPxRichEditStringId.NoSpace": "Don't add space between paragraph of the same style",
  "ASPxRichEditStringId.Pagination": "Pagination",
  "ASPxRichEditStringId.KLT": "Keep lines together",
  "ASPxRichEditStringId.PBB": "Page break before",
  "ASPxRichEditStringId.Options": "Seçenekler",
  "ASPxRichEditStringId.Preview": "Önizleme",
  "ASPxRichEditStringId.Style": "Stil",
  "ASPxRichEditStringId.Color": "Renk",
  "ASPxRichEditStringId.SaveToServer": "Dosyayı Sunucuya kaydet",
  "ASPxRichEditStringId.DownloadCopy": "Download a copy",
  "ASPxRichEditStringId.FolderPath": "Folder path",
  "ASPxRichEditStringId.FileType": "File type",
  "ASPxRichEditStringId.FileName": "File name",
  "ASPxRichEditStringId.ChooseType": "Choose download file type",
  "ASPxRichEditStringId.SaveFileAs": "Save file as",
  "ASPxRichEditStringId.Invalid_FileName": "Geçersiz dosya adı",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "Dikey",
  "ASPxRichEditStringId.Landscape": "Yatay",
  "ASPxRichEditStringId.Continuous": "Sürekli",
  "ASPxRichEditStringId.NewPage": "New page",
  "ASPxRichEditStringId.EvenPage": "Even page",
  "ASPxRichEditStringId.OddPage": "Odd page",
  "ASPxRichEditStringId.WholeDocument": "Whole document",
  "ASPxRichEditStringId.CurrentSection": "Current section",
  "ASPxRichEditStringId.SelectedSections": "Selected sections",
  "ASPxRichEditStringId.ThisPointForward": "This point forward",
  "ASPxRichEditStringId.Margins": "Kenar boşlukları",
  "ASPxRichEditStringId.Paper": "Kağıt",
  "ASPxRichEditStringId.Layout": "Düzen",
  "ASPxRichEditStringId.Top": "Üst",
  "ASPxRichEditStringId.Bottom": "Alt",
  "ASPxRichEditStringId.Orientation": "Yön",
  "ASPxRichEditStringId.PaperSize": "Paper size",
  "ASPxRichEditStringId.Width": "Genişlik",
  "ASPxRichEditStringId.Height": "Yükseklik",
  "ASPxRichEditStringId.Section": "Section",
  "ASPxRichEditStringId.SectionStart": "Section start",
  "ASPxRichEditStringId.HeadersAndFooters": "Headers and footers",
  "ASPxRichEditStringId.DifferentOddAndEven": "Different odd and even",
  "ASPxRichEditStringId.DifferentFirstPage": "Different first page",
  "ASPxRichEditStringId.ApplyTo": "Apply to",
  "ASPxRichEditStringId.FromEdge": "From edge",
  "ASPxRichEditStringId.Header": "Başlık",
  "ASPxRichEditStringId.Footer": "Altbilgi",
  "ASPxRichEditStringId.CancelButton": "İptal",
  "ASPxRichEditStringId.OkButton": "Tamam",
  "ASPxRichEditStringId.OpenButton": "Aç",
  "ASPxRichEditStringId.SaveAsButton": "Kaydet",
  "ASPxRichEditStringId.DownloadButton": "Download",
  "ASPxRichEditStringId.SelectButton": "Seç",
  "ASPxRichEditStringId.InsertButton": "Ekle",
  "ASPxRichEditStringId.ChangeButton": "Değiştir",
  "ASPxRichEditStringId.CloseButton": "Kapat",
  "ASPxRichEditStringId.InsertTable_TableSize": "Table Size",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Sütun sayısı",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Satır sayısı",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Merge cells before split",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Hücreleri sağa kaydır",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Hücreleri aşağı kaydır",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insert entire row",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insert entire column",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Hücreleri sola kaydır",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Hücreleri yukarı kaydır",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Delete entire row",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Delete entire column",
  "ASPxRichEditStringId.InsertImage_FromWeb": "From the web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "From your computer",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Enter image web address",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Browse your computer for the image file to upload",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Image preview",
  "ASPxRichEditStringId.TableProperties_Size": "Boyut",
  "ASPxRichEditStringId.TableProperties_Alignment": "Hizalama",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Dikey Hizalama",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Ölçüde",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Tercih edilen genişlik",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Indent from left",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Yükseklik belirt",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Satır yüksekliği",
  "ASPxRichEditStringId.TableProperties_Table": "Tablo",
  "ASPxRichEditStringId.TableProperties_Row": "Satır",
  "ASPxRichEditStringId.TableProperties_Column": "Sütun",
  "ASPxRichEditStringId.TableProperties_Cell": "Hücre",
  "ASPxRichEditStringId.TableProperties_Options": "Seçenekler...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Borders and Shading...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Önceki satır",
  "ASPxRichEditStringId.TableProperties_NextRow": "Sonraki satır",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Önceki sütun",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Sonraki sütun",
  "ASPxRichEditStringId.TableProperties_CantSplit": "Allow row to break across pages",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Varsayılan hücre kenar boşlukları",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Varsayılan hücre aralığı",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Hücreler arasında aralığa izin ver",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Automatically resize to fit contents",
  "ASPxRichEditStringId.BorderShading_Borders": "Kenarlıklar",
  "ASPxRichEditStringId.BorderShading_Shading": "Gölgelendirme",
  "ASPxRichEditStringId.BorderShading_Fill": "Doldurun",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Click on diagram below or use buttons to apply borders",
  "ASPxRichEditStringId.BorderShading_BordersNone": "Hiçbiri",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Kutu",
  "ASPxRichEditStringId.BorderShading_BordersAll": "Tüm",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "Kılavuz",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "Özel",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Hücre kenar boşlukları",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Tüm tabloda olduğu gibi",
  "ASPxRichEditStringId.CellOptions_WrapText": "Metni kaydırma",
  "ASPxRichEditStringId.Columns_Presets": "Hazır ayarlar",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Sütun sayısı",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Width and spacing",
  "ASPxRichEditStringId.Columns_EqualWidth": "Eşit sütun genişliği",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "Genişlik",
  "ASPxRichEditStringId.Columns_Spacing": "Aralık",
  "ASPxRichEditStringId.PageFile": "Dosya",
  "ASPxRichEditStringId.PageHome": "Ana Sayfa",
  "ASPxRichEditStringId.PageInsert": "Ekle",
  "ASPxRichEditStringId.PagePageLayout": "Page Layout",
  "ASPxRichEditStringId.PageReferences": "References",
  "ASPxRichEditStringId.PageMailings": "Mail Merge",
  "ASPxRichEditStringId.PageReview": "Review",
  "ASPxRichEditStringId.PageView": "Görünüm",
  "ASPxRichEditStringId.PageHeaderAndFooter": "Header && Footer",
  "ASPxRichEditStringId.PageTableDesign": "Tasarım",
  "ASPxRichEditStringId.PageTableLayout": "Düzen",
  "ASPxRichEditStringId.PageFloatingObjects": "Biçim",
  "ASPxRichEditStringId.GroupUndo": "Geri Al",
  "ASPxRichEditStringId.GroupUndoClipboard": "Undo/Clipboard",
  "ASPxRichEditStringId.GroupFont": "Yazı tipi",
  "ASPxRichEditStringId.GroupParagraph": "Paragraf",
  "ASPxRichEditStringId.GroupClipboard": "Pano",
  "ASPxRichEditStringId.GroupEditing": "Düzenleme",
  "ASPxRichEditStringId.GroupCommon": "Ortak",
  "ASPxRichEditStringId.GroupStyles": "Stiller",
  "ASPxRichEditStringId.GroupZoom": "Yakınlaştır",
  "ASPxRichEditStringId.GroupShow": "Göster",
  "ASPxRichEditStringId.GroupIllustrations": "Çizimler",
  "ASPxRichEditStringId.GroupText": "Metin",
  "ASPxRichEditStringId.GroupTables": "Tablolar",
  "ASPxRichEditStringId.GroupSymbols": "Semboller",
  "ASPxRichEditStringId.GroupLinks": "Linkler",
  "ASPxRichEditStringId.GroupPages": "Sayfalar",
  "ASPxRichEditStringId.GroupHeaderFooter": "Header && Footer",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "Kapat",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "Gezinti",
  "ASPxRichEditStringId.GroupMailMerge": "Mail Merge",
  "ASPxRichEditStringId.GroupInsertFields": "Insert Fields",
  "ASPxRichEditStringId.GroupMailMergeView": "Görünüm",
  "ASPxRichEditStringId.GroupCurrentRecord": "Current Record",
  "ASPxRichEditStringId.GroupFinish": "Bitir",
  "ASPxRichEditStringId.GroupDocumentViews": "Document Views",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "Seçenekler",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "Pozisyon",
  "ASPxRichEditStringId.GroupPageSetup": "Sayfa yapısı",
  "ASPxRichEditStringId.GroupDocumentProtection": "Protect",
  "ASPxRichEditStringId.GroupDocumentProofing": "Proofing",
  "ASPxRichEditStringId.GroupDocumentComment": "Yorum",
  "ASPxRichEditStringId.GroupDocumentTracking": "Tracking",
  "ASPxRichEditStringId.GroupTableOfContents": "Table of Contents",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "Yerleştir",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupCaptions": "Captions",
  "ASPxRichEditStringId.GroupPageBackground": "Arkaplan",
  "ASPxRichEditStringId.GroupDocumentLanguage": "Dil",
  "ASPxRichEditStringId.GroupView": "Görünüm",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Table Style Options",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Table Styles",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Borders && Shadings",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "Tablo",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Rows && Columns",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "Birleştirme",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Cell Size",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "Hizalama",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "Şekil stilleri",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "Yerleştir",
  "ASPxRichEditStringId.RequiredFieldError": "This field is required",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Full Screen",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Enable / disable the full screen mode.",
  "ASPxRichEditStringId.SaveAsFileTitle": "Farklı Kaydet",
  "ASPxRichEditStringId.OpenFileTitle": "Aç",
  "ASPxRichEditStringId.FontTitle": "Yazı tipi",
  "ASPxRichEditStringId.ParagraphTitle": "Paragraf",
  "ASPxRichEditStringId.PageSetupTitle": "Sayfa yapısı",
  "ASPxRichEditStringId.ColumnsTitle": "Sütunlar",
  "ASPxRichEditStringId.InsertTableTitle": "Tablo Ekle",
  "ASPxRichEditStringId.InsertTableCellsTitle": "Hücre Ekle",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Hücreleri Sil",
  "ASPxRichEditStringId.SplitTableCellsTitle": "Hücreleri Böl",
  "ASPxRichEditStringId.TablePropertiesTitle": "Tablo Özellikleri",
  "ASPxRichEditStringId.BorderShadingTitle": "Borders and Shading",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "Birleştirme alanı ekle",
  "ASPxRichEditStringId.ExportRangeTitle": "Export Range",
  "ASPxRichEditStringId.BookmarkTitle": "Yer işareti",
  "ASPxRichEditStringId.FindReplaceTitle": "Bul ve Değiştir",
  "ASPxRichEditStringId.InsertImageTitle": "Insert Picture",
  "ASPxRichEditStringId.ErrorTitle": "Hata",
  "ASPxRichEditStringId.SpellingTitle": "Spelling",
  "ASPxRichEditStringId.InformationTitle": "Bilgi",
  "ASPxRichEditStringId.WarningTitle": "Uyarı",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Margin Left",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Margin Right",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "",
  "ASPxRichEditStringId.RulerRightIdentTitle": "",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Sol Sekme",
  "ASPxRichEditStringId.RulerRightTabTitle": "Sağ Sekme",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Orta sekme",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Decimal Title",
  "ASPxRichEditStringId.MarginsNarrow": "Narrow",
  "ASPxRichEditStringId.MarginsNormal": "Normal",
  "ASPxRichEditStringId.MarginsModerate": "Moderate",
  "ASPxRichEditStringId.MarginsWide": "Geniş",
  "ASPxRichEditStringId.ModelIsChangedError": "The document has been modified outside the editor and needs to be reloaded. <br />Your last-minute changes might not be preserved, if any.",
  "ASPxRichEditStringId.SessionHasExpiredError": "Your session has expired. <br />Please refresh the page to continue.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "The open and save document operations are not allowed<br />since the working directory is not specified for the editor.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Access to the clipboard is denied due to your browser's security policy. <br />Instead, you can use the keyboard shortcuts:<br />{0}+X (cut), {0}+C (copy) and {0}+V (paste).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": ", Tarayıcınızın güvenlik ilkesi nedeniyle Pano erişim engellendi. Bunun yerine, dokunarak ve seçili içeriği holding tarafından çağrılan yerel menüyü kullanın.",
  "ASPxRichEditStringId.InnerExceptionsError": "Belirlenemeyen bir hata oluştu ve Editöre yeniden yüklenmesi gerekiyor. Son yapılan değişiklikler kaybolabilir.",
  "ASPxRichEditStringId.AuthExceptionsError": "Erişim belgeye sınırlıdır ve Editöre yeniden yüklenmesi gerekiyor. Son yapılan değişiklikler kaybolabilir.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "Değil bir dosya açtığınız bir belgeyi kaydedemiyor. Tasarruf başa özel tasarruf işlemek için olay",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "Are you sure you want to perform the action? All unsaved document data will be lost.",
  "ASPxRichEditStringId.RestartNumbering": "Numaralandırmayı yeniden başlat",
  "ASPxRichEditStringId.ContinueNumbering": "Numaralandırmaya devam et",
  "ASPxRichEditStringId.UpdateField": "Update Field",
  "ASPxRichEditStringId.ToggleFieldCodes": "Toggle Field Codes",
  "ASPxRichEditStringId.OpenHyperlink": "Köprü aç",
  "ASPxRichEditStringId.EditHyperlink": "Köprü Düzenle",
  "ASPxRichEditStringId.RemoveHyperlink": "Köprüyü kaldır",
  "ASPxRichEditStringId.CantOpenDocumentError": "Bir sunucu hatası oluştuğundan belge açılamadı.",
  "ASPxRichEditStringId.CantSaveDocumentError": "Bir sunucu hatası oluştuğundan belge kaydedilemedi.",
  "ASPxRichEditStringId.DocVariableExceptionError": "The DOCVARIABLE field could not be calculated because a server error occurred.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "Dosya bozuk ve açılamıyor.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "Create Field",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Create a dynamic element used as a placeholder for data that might change in a document.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Update All Fields",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "En son kaynak verileri alarak belgedeki tüm dinamik öğeleri yenileyin.",
  "ASPxRichEditStringId.ParagraphStyles": "Paragraf stilleri",
  "ASPxRichEditStringId.CharacterStyles": "Karakter stilleri",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Madde işaretli ve numaralandırma",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Numaralandırılmış listeyi Özelleştir",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Madde işaretli listeyi Özelleştir",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Anahat listesini Özelleştir",
  "ASPxRichEditStringId.HyperlinkTitle": "Köprü",
  "ASPxRichEditStringId.TabsTitle": "Sekmeler",
  "ASPxRichEditStringId.SymbolsTitle": "Semboller",
  "ASPxRichEditStringId.OtherLabels_None": "hiçbiri",
  "ASPxRichEditStringId.OtherLabels_All": "Tüm",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "already exist. Do you want to replace it?",
  "ASPxRichEditStringId.Numbering_Character": "Karakter...",
  "ASPxRichEditStringId.Numbering_Font": "Yazı tipi...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Madde işareti karakteri",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Madde işareti konumu",
  "ASPxRichEditStringId.Numbering_TextPosition": "Metin konumu",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Uyumlu",
  "ASPxRichEditStringId.Numbering_IndentAt": "Girinti",
  "ASPxRichEditStringId.Numbering_StartAt": "Başlangıç",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Sayı biçimi",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Sayı stili",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Sayı konumu",
  "ASPxRichEditStringId.Numbering_Left": "Sol",
  "ASPxRichEditStringId.Numbering_Center": "Merkezi",
  "ASPxRichEditStringId.Numbering_Right": "Sağ",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Numarasıyla takip",
  "ASPxRichEditStringId.Numbering_Level": "Seviye",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Sekme karakteri",
  "ASPxRichEditStringId.Numbering_Space": "Boşluk",
  "ASPxRichEditStringId.Numbering_Nothing": "Hiçbir şey",
  "ASPxRichEditStringId.Numbering_Customize": "Özelleştir...",
  "ASPxRichEditStringId.Numbering_Bulleted": "Madde işaretli",
  "ASPxRichEditStringId.Numbering_Numbered": "Sayılı",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Numaralandırılmış Anahat",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "E-posta adresi",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "Yer işareti",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Web sayfası",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Place in this document",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "E-posta",
  "ASPxRichEditStringId.Hyperlink_Subject": "Konu",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "Metin",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "Araç ipucu",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "Geçersiz e-posta",
  "ASPxRichEditStringId.Tabs_Set": "Ayarla",
  "ASPxRichEditStringId.Tabs_Clear": "Temizle",
  "ASPxRichEditStringId.Tabs_ClearAll": "Tümünü Temizle",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Sekme durağı konumu",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Varsayılan sekme durakları",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Temizlenecek sekme durakları",
  "ASPxRichEditStringId.Tabs_Alignment": "Hizalama",
  "ASPxRichEditStringId.Tabs_Leader": "Lider",
  "ASPxRichEditStringId.Tabs_Left": "Sol",
  "ASPxRichEditStringId.Tabs_Center": "Merkezi",
  "ASPxRichEditStringId.Tabs_Right": "Sağ",
  "ASPxRichEditStringId.Tabs_Decimal": "Ondalık",
  "ASPxRichEditStringId.Tabs_None": "Hiçbiri",
  "ASPxRichEditStringId.Tabs_Hyphens": "Tire",
  "ASPxRichEditStringId.Tabs_EqualSign": "Equal signs",
  "ASPxRichEditStringId.Tabs_Dots": "Noktalar",
  "ASPxRichEditStringId.Tabs_Underline": "Altı Çizili",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Middle dots",
  "ASPxRichEditStringId.Tabs_ThickLine": "Thick line",
  "ASPxRichEditStringId.FinishMerge_From": "From",
  "ASPxRichEditStringId.FinishMerge_Count": "Adet",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Birleştirme modu",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "Tüm kayıtlar",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Geçerli kayıt",
  "ASPxRichEditStringId.FinishMerge_Range": "Aralık",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "New Paragraph",
  "ASPxRichEditStringId.FinishMerge_NewSection": "New Section",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Join Tables",
  "ASPxRichEditStringId.InsertMergeField_Fields": "Alanlar",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Yer işareti adı",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Sıralama ölçütü",
  "ASPxRichEditStringId.Bookmarks_Name": "Adı",
  "ASPxRichEditStringId.Bookmarks_Location": "Konum",
  "ASPxRichEditStringId.Bookmarks_Add": "Ekle",
  "ASPxRichEditStringId.Bookmarks_Delete": "Sil",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Git",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Bookmark names must begin with a letter",
  "ASPxRichEditStringId.FindReplace_Find": "Bul",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "Advanced find",
  "ASPxRichEditStringId.FindReplace_Replace": "Değiştir",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "Replace All",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "Replace with",
  "ASPxRichEditStringId.FindReplace_Previous": "Önceki",
  "ASPxRichEditStringId.FindReplace_Next": "Sonraki",
  "ASPxRichEditStringId.FindReplace_MatchCase": "Harf eşleştir",
  "ASPxRichEditStringId.FindReplace_Results": "Sonuçlar",
  "ASPxRichEditStringId.FindReplace_NoResult": "Aradığını bulamadı şey için",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "Çok uzun bir sonucudur. Metin sonuçları görmek için sayfa göz atın.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "{0} girişleri yerini almış",
  "ASPxRichEditStringId.FindReplace_Items": "Öğeler",
  "ASPxRichEditStringId.FindReplace_NoMatches": "No matches",
  "ASPxRichEditStringId.FindReplace_Of": "of",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "Yazım denetimi tamamlandıktan.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "Bir kez Yoksay",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "Tümünü Yoksay",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "Sözlüğe Ekle",
  "ASPxRichEditStringId.Spelling_Delete": "Sil",
  "ASPxRichEditStringId.Spelling_Change": "Değiştir",
  "ASPxRichEditStringId.Spelling_ChangeAll": "Change All",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "Sözlük içinde değil:",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "Repeated Word:",
  "ASPxRichEditStringId.Spelling_Suggestions": "Suggestions:",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(yazım önerisi yok)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Cümle durumu.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Cümle durumu.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Hücre kenar boşlukları",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Customize cell margins",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "Header from Top:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Alttan altbilgi:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "Specify the distance from the top of the page to the top of the header.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Sayfanın altından altbilgi altına kadar olan mesafeyi belirleyin.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "Metinle aynı hizaya",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Tutturucuyu kilitle",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "En boy oranını kilitle",
  "ASPxRichEditStringId.LayoutOptions_Reset": "Sıfırla",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Both sides",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Sadece sol",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Sadece sağ",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Yalnızca büyükten",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "İçinde",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "Dışarıda",
  "ASPxRichEditStringId.LayoutOptions_Position": "Pozisyon",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "Yatay",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "Dikey",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "göreli olarak",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "of",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Mutlak konum",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Göreli konumu",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "Hizalama",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Book layout",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "to the right of",
  "ASPxRichEditStringId.LayoutOptions_Below": "aşağıda",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Wrapping style",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "Metni kaydırma",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Metinden Uzaklık",
  "ASPxRichEditStringId.LayoutOptions_Size": "Boyut",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Mutlak",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Göreli",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "Döndürme",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "Ölçek",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Orijinal boyutu",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "Dosya silinemez. Başka bir kullanıcının önceden açtığı.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "Dosya taşınamaz. Başka bir kullanıcının önceden açtığı.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "The file cannot be renamed. It is already opened by another user.",
  "ASPxRichEditStringId.CreateDateField": "DATE",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Geçerli tarih ve saati ekler.",
  "ASPxRichEditStringId.CreateTimeField": "Zaman",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Geçerli saati ekler.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Alanın bulunduğu sayfa numarasını ekler.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Toplam sayfa sayısını ekler.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "Birleştirme alanı",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "no fields",
  "ASPxRichEditStringId.Tabs_NoTabs": "no tabs",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "No bookmarks",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Font settings",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Align Paragraph",
  "ASPxRichEditStringId.MenuCmd_Align_ParagraphDropDownHeader": "Hizalama",
  "ASPxRichEditStringId.MenuCmd_Clipboard": "Pano"
}